<ion-view title="Tab  principal" id="tab" style="background-color:#3E95CF;">
    <ion-content padding="true" class="has-header">
            <h1 id="presentacion-heading1" style="color:#467ED1;text-align:center;">Presentacion</h1>
        <ion-list id="presentacion-list2" class="manual-list-fullwidth">
            <ion-item class="item-avatar item-icon-right positive" id="presentacion-list-item3">
                <img src="img/C3vr96i9TEGavHOZJvZM_2013-10-1904.10.44.jpg">
                <h2positive>Federico Fabián
                    <p>Santamaria</p>
                    <i class="icon ion-android-contact"></i>
                </h2positive>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right positive" id="presentacion-list-item4">
                <i class="icon ion-ios-bookmarks"></i>Materia:
                <span class="item-note">Practica Supervisada</span>
                <i class="icon ion-android-bulb"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right positive" id="presentacion-list-item6">
                <i class="icon ion-android-hand"></i>Legajo:103638
                <i class="icon ion-android-hand"></i>
            </ion-item>
            <ion-item class="item-icon-left positive" id="presentacion-list-item7" href="mailto:soii_fede@hotmail.com">
                <i class="icon ion-ios-email-outline"></i>Mail:soii_fede@hotmail.com</ion-item>
            <ion-item class="item-icon-left item-icon-right positive" id="presentacion-list-item8" href="mailto:">
                <i class="icon ion-social-github"></i>GITHUB:fedeakd
                <i class="icon ion-paperclip"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>