<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-stable tabs-icon-top" id="tabs">
        <ion-tab title="Presentacion" icon="ion-ios-body" href="#/tabs/Presentacion" id="tabs-Presentacion">
            <ion-nav-view name="Presentacion"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Trivia" icon="ion-ios-bolt" href="#/tabs/Trivia" id="tabs-Trivia" on-select="ComprobarTrivia()">
            <ion-nav-view name="Trivia"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Estadistica" icon="ion-ios-information-outline" href="#/tabs/Estadistica" id="tab-Estadistica" on-select="ComprobarEstadistica()">
            <ion-nav-view name="Estadistica"></ion-nav-view>
        </ion-tab>
              <ion-tab title="Usuarios" icon="ion-android-people" href="#/tabs/Usuarios" id="tab-Usuarios" on-select="ComprobarEstadistica()">
            <ion-nav-view name="Usuarios"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>